<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="test_manufacturer_listing_data_source" xsi:type="string">VuDacKyAnh\Test\Model\ResourceModel\Manufacturer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="VuDacKyAnh\Test\Model\ResourceModel\Manufacturer\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">manufacturer</argument>
            <argument name="eventPrefix" xsi:type="string">vudackyanh_test_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">manufacturer_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">VuDacKyAnh\Test\Model\ResourceModel\Manufacturer</argument>
        </arguments>
    </type>

<!--    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">-->
<!--        <arguments>-->
<!--            <argument name="columns" xsi:type="array">-->
<!--                <item name="odd_even" xsi:type="string">sales_order.odd_even</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->

</config>