<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="test_manufacturer_listing_data_source" xsi:type="string">VuDacKyAnh\Test\Model\ResourceModel\Manufacturer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="VuDacKyAnh\Test\Model\ResourceModel\Manufacturer\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">manufacturer</argument>
            <argument name="eventPrefix" xsi:type="string">vudackyanh_test_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">manufacturer_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">VuDacKyAnh\Test\Model\ResourceModel\Manufacturer</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="test_member_listing_data_source" xsi:type="string">VuDacKyAnh\Test\Model\ResourceModel\Member\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="VuDacKyAnh\Test\Model\ResourceModel\Member\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_part_time</argument>
            <argument name="eventPrefix" xsi:type="string">test_member_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">member_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">VuDacKyAnh\Test\Model\ResourceModel\Member</argument>
        </arguments>
    </type>

</config>