<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="customer_resgister_observer" instance="VuDacKyAnh\Test\Observer\GetCustomerDetails" />
    </event>
    <event	name="checkout_cart_product_add_after">
        <observer	name="check_cart_qty" instance="VuDacKyAnh\Test\Observer\PreventCart"	/>
    </event>
</config>